body {
    background-color: #000000;
    text-align: center;
    font-family: Tahoma, sans-serif;
}

/* Paragraphs */
.paragraph--main {
    font: Arial;
    font-weight: normal;
    font-size: 18px;
    color: #ffffff;
}

/* Images */
.image--A {
    width: 400px;
    height:auto;
    border: 50px solid grey;
}

/* Headings*/

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

.header--secondary {
    font-weight: 300;
    font-size: 40px;
    color: #ffffff;
}

.header--third {
    font-weight: 300;
    font-size: 35px;
    color: #ffffff;
}

.header--sub-header {
    font-size: 21px;
    color: grey;
}
